/* Sliderの設定 */
.App{
    width: 100%;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Sidebar{
    height:100%;
    width: 250px;
    background-color: #202358;
}
.SidebarList{
    height: auto;
    padding: 0%;
    width: 100%;
}
.SidebarList #active{
    background-color: #3b627a;
}

.SidebarList .row{
    width: 100%;
    height: 60px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.SidebarList .row:hover{
    cursor: pointer;
    background-color: #3b627a;
}

.row #icon{ 
    flex: 30%;
    display: grid;
    place-items: center;
}
.row #title{
    flex: 70%;
}

/* ポートフォリオ */
/* .App{
    width: 100%;
    height: 100vh;
    font-size: 18px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}
header .logo h3{
    font-size: 30px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}
nav ul li a:hover {
    text-decoration: none;
    color: blue;
    transition: all 0.2s;
} */